DB_USER=my_user
DB_PASSWORD=my_password
DB_HOST=my_host
DB_PORT=my_port
DB_DATABASE=my_database
DB_SCHEMA=my_schema

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=${DB_SCHEMA}&sslmode=prefer"
SHADOW_DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=dbmigration&sslmode=prefer"

JWT_ACCESS_SECRET=my-access-secret-key
JWT_REFRESH_SECRET=my-refresh-secret-key

SALT=10